<h1>New grouping</h1>

<%= error_messages_for :grouping %>

<% form_for([:admin, @grouping]) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_groupings_path %>
