.post.container
  .columns
    .column
      %h3.title Archives
      .subtitle.is-size-6
        Viewing as list.
        = link_to 'View by date', by_date_crumbles_path, class: :button
  .columns
    .content.is-size-6
      This section is to post sketches, recordings, writings or other odds and ends.  It functions as both a sketchpad and a personal archive. I'm uploading old posters, handbills and other things I've collected here,  for lack of any better place to put it.


  .columns.post
    .column= paginate @crumbles

  
  - @crumbles.in_groups_of(3).each do |group|
    .columns
      - group.each do |crumble|
        - next if crumble.nil?
        .column= render :partial => 'crumble', :locals => {:crumble => crumble}
      
  .columns.post
    .column= paginate @crumbles
