.row.bookmarks
  .small-2.columns 
    %h4.subheading Recently bookmarked:
  .small-10.columns.text-left
    = raw link[0..6].map{|x| "<span class='bookmark'><a href=\"#{x.link_url}\">#{x.title}</a></span>" }.join(' / ')


