.container
  %h4.subtitle Latest tweet:
  - twit = twitter_status
  .content
    .is-size-6= raw twit.first
  = link_to 'Follow @hyksos', 'http://twitter.com/hyksos', :class => "twitter-follow-button"
  %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
.is-clearfix