.post_container
  - @posts.each do |post|
    .post
      .row
        %h3= link_to post.title, post
        %h6= "posted " + post.created_at.strftime("%d %B %Y")
      - unless post.videos.empty?
        - post.videos.each do |video|
          .videocontent
            %video{src: video.url, controls: "true",  style: "width: 100%; height: 100%", height: "100%", width: "100%"}
      - unless post.audiopodcasts.empty?
        - post.audiopodcasts.each do |podcast|
          .audiocontent
            %audio{src: podcast.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}
              
      .row
        .text-justify.readmore.post_description
          = raw post.body
          
          