/*
 *= require_self
 *= require font-awesome
 *= require mediaelement_rails
 *= require mediaelement_rails/mejs-skins
*/

$sigreen: #53a842;
$sigreen2: #18ea22;
@import "bulma";

body {
  background-color: $sigreen;
}

a {
  color: $sigreen;
  &:hover {
    color: $sigreen2;
  }
}

a.readmore-js-toggle {
  display: inline !important;
  width: inherit !important;
  margin: 0.9375rem 0;
  font-family: 'Arial Black', 'Arial', sans-serif;
  background-color: $sigreen;
 
  &:hover {
    color: $sigreen;
    background-color: white;
    border: 1px solid $sigreen;
  }
}
.readmore-js-section {
  margin-bottom: 5px;
}

.left_container {
  .menu {
    margin: 0;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    margin-bottom: 1.64rem;
    padding: 0.5rem 0;
    ul {
     
      font-family: 'Arial Black', 'Arial', sans-serif;
      list-style-type: none;
      li {
        padding-right: 1.5rem;
            font-size: 1.25rem;
        &.last {
          padding-right: none;
        }
        a {
          color: white;
          &:hover {
            color: $sigreen2;
          }
        }
        float: left;

      }
    }
  }
  .title_container {
    padding-right: 1rem;
    text-align: right;
  }
  h1 {
    text-transform: uppercase;
    font-size: 39px;
    text-align: left;
    font-family: 'Arial Black', 'Arial', sans-serif;
    color: white;
    a {
      color: white;
      &:hover {
        color: $sigreen2;
      }
    }

  }
  .post_sidebar {
    display:none;
  }
  .post_container {
    background-color: #FFFFFF;
//    opacity: 0.9;
    padding: 0.5rem 2rem;
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: right;
    width: 96%;
    margin-right: 2%;
    h3 {
      margin-bottom: 0.2rem;
      line-height: 1.3;
      font-family: 'Arial Black', 'Arial', sans-serif;
    }
    h6 {
      color: #888;
      font-size: 0.6rem;
      font-style: italic;
    }
    .post {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px dotted $sigreen2;

      .post_description {
        margin-top: 0.4rem;
        font-size: 0.85rem;
        line-height: 1.4rem;
        p, ul, li {
          line-height: 1.4rem;
          font-size: 0.85rem;
        }
      }
    }
  }
}
.right_container {
  font-family: 'Arial Black', 'Arial', sans-serif;
  color: white;
  padding-top: 2.8rem;

  float: left;
  font-size: 1.1rem;
  a {
    color: $sigreen2;
    &:hover {
      text-transform: underline;
    }
  }

}

// standalone post

.post_banner {
  float: right;
  width: 96%;
  margin-right: 2%;
}


.post {
  &.container {
    .all_posts {
      display: none;
    }
  }
  small {
    font-size: 0.65rem;
  }

  .index {
    .post_body {
      small {
        display: none;
      }
    }
  }
  background-color: #FFFFFF;
  opacity: 0.9;
  padding: 0.5rem 2rem;
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: right;
  width: 96%;
  margin-right: 2%;
  .post_title {
    line-height: 2.4rem;
    margin: 0.8rem 0;
  }

  .date {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  }
  h1 {
    font-size: 2rem;
    color: $sigreen;
    text-align: left;
  }
  .metadata {
    color: #888;
    font-size: 0.6rem;
    font-style: italic;
  }
  .post_body {
    width: 100%;
    line-height: 1.6rem;

  }
  .post_tags, .prev_next {
    display: none;
  }
  .is-three-fifths {
    padding-top: 1rem;
    width: 100%;
  }

  .sidebar {
    clear: left;
    width: 100%;
  }
}

.videocontent {
//  float: left;
  clear: both;
  margin: 0 auto;
  margin-bottom: 1rem;
  img {
    
  }
  .play_wrapper {
    height: 400px;
    width: auto;
    &:hover {
      border: 3px solid #fff;
      opacity: 0.8;
      filter: invert(100%);
    }
  }
  .play {
    background: url(/assets/play-button-overlay.png) center center no-repeat;
    margin: 0;
      height: 100%;
//      position: absolute;
      z-index: 10;
      display: inline-block;
      width: 100%;
      opacity: 1.0;
  }
}


footer.footer {
  background-color: $sigreen;
  border-top: 2px solid white;
  ul {
    li {
      float: left ;
      padding-right: 2rem;
    }
  }
}

// mobile considerations
@media only screen and (max-width: 40.0625em) {
  .container {
    padding: 1.25rem;
  }
  footer {
    display: none;
  }
  a.readmore-js-toggle {
    font-size: 0.75rem;
    cursor: pointer;
  }
  .right_container {
    background-color: $sigreen;
    
  }
  .left_container {
    width: 100%;
    text-align: center;
    h1.si_title {
      font-size: 1rem;
      float: none;
      margin-left: 1rem;
    }
    .menu {
      ul {
        &.top_menu {
          margin-left: 1rem;
        }
        li {
          padding-right: 8.5vw;
          font-size: 3.55vw;
        }
      }
    }
    .post {
      .content {
        ul, p {
          text-align: left;
        }
      }
      h1.post_title {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      h3 {
        font-size: 1.25rem;
        line-height: 1.4rem;
        
      }
      .videocontent {
        margin-bottom: 1rem;
      }
      .post_description {

        line-height: 1.2rem;
        p {
          line-height: 1.2rem;
        }
      }
    }
  }
  
  
  
}


// tablet considerations
@media only screen and (min-width: 40.063em) and (max-width:  64em) {
  .variable {
    width: 25%;
    padding-top: 1.8rem;
    font-size: 0.9rem;
  }
  .left_container {
    width: 75%;
    h1.si_title {
      // font-size: 4.9vw;
    }
    .menu {
      ul {
        li {
          font-size: 3.55vw;
        }
      }
    }
    .post {
      .videocontent {
        margin-bottom: 1rem;
      }
    }
  }
  
  
}

.post {
  background-color: #FFFFFF;
  opacity: 0.9;
  /* padding: 0.5rem 2rem; */
  position: relative;
   padding-left: 0.9375rem; 
   padding-right: 0.9375rem; 
  /* float: right; */
  width: 100% !important;
  margin: 0 !important;
}