Hello <%= @recipient.name %>

<p>
  This email confirms your registration for the event <%= @event.name %>.
</p>

<p>
  If you need to cancel this registration, or if you have any other questions about the event, please email john@cenotaph.org.
</p>

<p>
  Thank you for your interest! We will see you there.
</p>
